{% load staticfiles %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://glupnew.kodevianstudio.com/static/vendor-recovery/material.min.css">
    <script src="http://glupnew.kodevianstudio.com/static/vendor-recovery/material.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GLUP | Welcome</title>

    <style type="text/css">
        @font-face {
            font-family: Montserrat-Light;
            src: url('http://glupnew.kodevianstudio.com/static/vendor-recovery/fonts/Montserrat-Light.otf')
        }

        @font-face {
            font-family: Montserrat-UltraLight;
            src: url('http://glupnew.kodevianstudio.com/static/vendor-recovery/fonts/Montserrat-UltraLight.otf')
        }

        header {
            background-color: black;
            height: 12vh;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        li {
            color: black;
            font-weight: normal;
        }

        .logo {
            height: 80%;
        }

        .description * {
            color: black;
        }

        .description {
            text-align: center;
        }

        .form_action {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .title_description {

            font-family: Montserrat-Light;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: content-box;
            color: white;
            font-weight: 800;
            font-family: Montserrat-UltraLight;
        }

        main {
            display: flex;
            margin: 46px;
            flex-direction: column;
            justify-content: space-around;
            height: 53vh;
        }

        .form_action input {
            color: black;
            font-weight: normal;
        }

        .error {
            color: #d50000;
            position: absolute;
            font-size: 12px;
            margin-top: 3px;
            /* visibility: hidden; */
            display: block;
            font-weight: 400;
        }

        button {
            background-color: #04D8C0;
        }

        @media screen and (max-width: 550px) {
            header {
                justify-content: center;
            }
        }
    </style>

</head>

<body>
<header>
    <img class="logo" src="http://glupnew.kodevianstudio.com/static/img/logo_glup-11.svg">
</header>
<main>
    {% if validlink %}
        <section class="description">
            <div class="title_description">CAMBIAR CONTRASEÑA</div>

            <div style="font-weight: normal;margin-top: 25px;">
                Por favor ingrese su contraseña nueva dos veces para verificar que la ha
                escrito correctamente.
            </div>
        </section>
        <section>
            <form class="form_action" method="post">{% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="user_password1"
                           name="{{ form.new_password1.name }}">
                    <label class=" mdl-textfield__label" for="sample1">Nueva contraseña</label>
                    <span class="error">{{ form.new_password1.errors.as_text }} </span>
                    {#                    <div style="font-weight: normal;margin-top: 25px;">#}
                    {#                        {{ form.new_password1.errors }}#}
                    {#                    </div>#}

                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="user_password2"
                           name="{{ form.new_password2.name }}">
                    <label class="mdl-textfield__label" for="sample1">Confirma nueva contraseña</label>
                    <span class="error">{{ form.new_password2.errors.as_text }} </span>
                    {#                    <div style="font-weight: normal;margin-top: 25px;">#}
                    {#                        {{ form.new_password2.errors }}#}
                    {#                    </div>#}

                </div>
                <button style="width:171px;margin-top: 25px;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    CAMBIAR
                </button>
            </form>


        </section>
    {% else %}
        <div style="font-weight: normal;margin-top: 25px;color: black">
            El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite
            una nueva contraseña restablecida
        </div>
    {% endif %}
</main>
</body>
{#{% block content %}#}
{#    <div class="section-normal">#}
{#        <div class="container">#}
{#            <div class="col-lg-6 col-lg-offset-3">#}
{#                <h1>Resetear Contraseña</h1>#}
{#                {% if validlink %}#}
{#                    <div class="col-lg-12">#}
{#                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>#}
{#                    </div>#}
{#                    <form method="post" class="col-lg-12 form-site">#}
{##}
{#                        {% csrf_token %}#}
{#                        <fieldset class="form-group">#}
{#                            <label for="user_password1">Nueva Contraseña</label>#}
{##}
{#                            <input autofocus="autofocus" class="form-control" id="user_password1"#}
{#                                   name="{{ form.new_password1.name }}" size="30"#}
{#                                   type="password">#}
{#                            {{ form.new_password1.errors }}#}
{#                        </fieldset>#}
{#                        <fieldset class="form-group">#}
{#                            <label for="user_password2">Repetir Nueva Contraseña</label>#}
{##}
{#                            <input autofocus="autofocus" class="form-control" id="user_password2"#}
{#                                   name="{{ form.new_password2.name }}" size="30"#}
{#                                   type="password">#}
{#                            {{ form.new_password2.errors }}#}
{#                        </fieldset>#}
{#                        <div>#}
{#                            <input class="btn btn-default btn-site" type="submit"#}
{#                                   value="{% trans 'Cambiar mi contraseña' %}"/>#}
{#                        </div>#}
{#                    </form>#}
{#                {% else %}#}
{#                    <div class="col-lg-12">#}
{#                        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}