{% load staticfiles %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GLUP | Welcome</title>

    <style type="text/css">
        @font-face {
            font-family: 'Nova-Medium';
            src: url('http://{{ domain }}/static/fonts/Nova-Medium.otf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        #outlook a {
            padding: 0;
        }

        body {
            width: 100% !important;
            font-family: 'Nova-Thin';
        }

        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: none;
            outline: none;
            text-decoration: none;
        }

        #container {
            background-color: #FFFFFF;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #dateDay, #dateMonth {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 100%;
        }

        #eventHeading {
            /*@editable*/
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #messageHeading {
            /*@editable*/
            color: #fff;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 28px;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 100%;
            padding: 20px;
        }

        #content, #eventLocation {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #content a:link, #content a:visited, #eventDate a:link, #eventDate a:visited, #eventLocation a:link, #eventLocation a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .sectionHeading {
            /*@editable*/
            color: #689A68;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #buttonText a:link, #buttonText a:visited {
            /*@editable*/
            color: #FFFFFF;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            line-height: 125%;
            text-decoration: none;
        }

        /*
        @tab Footer
        @section text style
        @tip The styling for your email's footer text. Make it a color and size that is easy to read.
        */
        #footerContent, #rewards {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        /*
        @tab Footer
        @section link style
        @tip The styling for your email's footer hyperlinks. Make it a color that stands out from the rest of your text.
        */
        #footerContent a:link, #footerContent a:visited, #rewards a:link, #rewards a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .socialCell a:link, .socialCell a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .socials li {
            display: inline-block;
            vertical-align: top;
        }

        .gs li {
            display: inline-block !important;
            vertical-align: top !important;
        }

    </style>

</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="container">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="400">
                <tr>
                    <td align="center" valign="top" width="400">
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" width="400">
                            <!-- // Begin Template Header \\ -->
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="600"
                                           style="background:url(http://67.205.138.55/static/img/background-email.jpg);width:600px;height: 964px;">

                                        <tr>
                                            <td align="center" valign="top" width="300" height="200">
                                                <div style="text-align: center;">
                                                    <img height="55"
                                                         src="http://67.205.138.55/static/img/logomail.png"
                                                         style="width: 101px; height: 106px; margin-top: 80px">
                                                </div>
                                                <h1 style="color:#FFF;font-family: Arial,sans-serif;font-weight: normal;font-size: 26px">
                                                    CUPÓN DE DESCUENTO</h1>

                                                <p style="color: #FFF;font-family: Arial,sans-serif;font-size: 11px">
                                                    Gracias por acceder al servicio de descuentos de GLUP.<br>Acércate a
                                                    la tienda, y presenta el siguiente cupón al
                                                    momento de pagar.</p>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" width="100%">
                                                <div style="background-color:#ECECEC; height: 539px;width:380px;">
                                                    <div style="text-align: center;">
                                                        <img src="{{ protocol }}://{{ domain }}/media/{{ my_coupon.qrcode }}"
                                                             style="width: 180px; height: 180px;margin-top: 15px">
                                                    </div>
                                                    <div>
                                                        <div style="text-align: center;">
                                                            <img src="
                                                                    {{ protocol }}://{{ domain }}/media/{{ my_coupon.garment_stock.storelink.store.logo }}"
                                                                 style="max-height: 55px;width: 120px; margin-top: 5px">

                                                            <p style="font-size:13px;">{{ my_coupon.garment_stock.storelink.store.headquarter }}<br>
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <span style="text-align: left; margin-left: 10px;margin-top: 3px;margin-bottom: 3px">{{ my_coupon.garment_stock.storelink.store.name }}</span>
                                                        </div>
                                                        <div style="padding: 5px 10px">
                                                            <span style="display: inline-block;text-align: left;width: 48%">{{ my_coupon.garment_stock.garment.name }}</span>
                                                            <span style="display:inline-block;text-align: right;width: 48%">{{ my_coupon.garment_stock.garment.price }}</span>
                                                        </div>
                                                        <div style="padding: 5px 10px">
                                                            <span style="display: inline-block;text-align: left;width: 60%">Tallas disponibles - Referenciales</span>
                                                            <span style="display:inline-block;text-align: right;width: 38%;color: #A00027">{{ coupon.discount }}</span>
                                                        </div>
                                                        <div style="display:flex;justify-content: space-between">
                                                            <span style="text-align: left; margin-left: 10px">{% for sizes in my_coupon.garment_stock.sizes.all %}
                                                                {{ sizes.size }}- {% endfor %}</span>
                                                        </div>
                                                        <div style="display:flex;justify-content: space-between;border-bottom: 1px solid black">
                                                            <span style="text-align: left; margin-left: 10px;margin-top: 2px;margin-bottom: 5px">dirección sede</span>
                                                        </div>
                                                        <div style="align-content: center">
                                                            <p>tipo de promoción : {{ coupon.promotion.promotion }}</p>
                                                            <p>fecha limite : {{ coupon.end_date }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p style="color: #FFF; font-size: 0.8em;margin-bottom: 5px">La
                                                    información transmitida está
                                                    dirigida sólo a la persona o entidad
                                                    a la que fuese enviada y puede contener material confidencial
                                                    y/o
                                                    privilegiada. Cualquier revisión, retransmisión, difusión o toma
                                                    de
                                                    cualquier sobre esta información por personas o entidades
                                                    distintas
                                                    del destinatario está prohibida, y cualquier responsabilidad que
                                                    surja del mismo está negado. Si ha recibido este mensaje por
                                                    error.
                                                    por favor póngase en contacto con el remitente y elimine el
                                                    material
                                                    de cualquier ordenador</p>
                                            </td>
                                            </div>
                                        </tr>
                                    </table>
                                </td>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>