{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @font-face {
            font-family: Montserrat-Light;
            src: url('{{ STATIC_URL }}vendor-recovery/fonts/Montserrat-Light.otf')
        }

        @font-face {
            font-family: Montserrat-UltraLight;
            src: url('{{ STATIC_URL }}vendor-recovery/fonts/Montserrat-UltraLight.otf')
        }

        header {
            background-color: black;
            height: 12vh;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        .logo {
            height: 80%;
        }

        .title_description {

            font-family: Montserrat-Light;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: content-box;
            color: black;
            font-weight: 800;
            font-family: Montserrat-UltraLight;
        }

        main {
            display: flex;
            margin: 46px;
            flex-direction: row;
            justify-content: space-around;
            height: 64vh;
            margin-top: 90px;
        }

        @media screen and (max-width: 550px) {
            header {
                justify-content: center;
            }

            main {
                height: 55%;
            }

            .aux__div {
                display: none;
            }
        }

        main div {
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            text-align: center;
        }

        .description {
            color: #04D8C0;
            margin-bottom: 30px;
            font-size: 33px;
            border-bottom: 1px solid #04D8C0;
            width: 174px;
            height: 88px;
        }
    </style>
</head>
<body>
<header>
    <img class="logo" src="{{ STATIC_URL }}img/logo_glup-11.svg">
</header>
<main>
    <div class="aux__div">

    </div>
    <div>
        <section class="description" style="">
            Bienvenido<br>
            <strong style="color:#04D8C0;font-family: Montserrat-Light;">{{ user_name }}</strong>
        </section>
        <section>
            <strong style="font-family: Montserrat-Light;">¡¡Tus amigos ya armaron su clóset!!</strong>

            <p style="margin-top: 15px;">Sube tu ropa y combinala con <br>
                prendas de marcas exclusivas
            </p>
        </section>
        <section>
            <p style="margin-top: 33px;font-family: Montserrat-Light;margin-bottom: 23px;">
                Descarga la aplicación en:
            </p>
            <figure>
                <img src="{{ STATIC_URL }}img/appstore.png">
                <img src="{{ STATIC_URL }}img/playstore.png">
            </figure>
        </section>
    </div>
    <div class="aux__div"
         style="background-image: url('{{ STATIC_URL }}img/Image_3.png');background-repeat: no-repeat;">

    </div>
</main>
</body>
</html>