{% load staticfiles %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
</head>
  <body style="margin: 0px; padding: 0px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
        <td>
          <table style="border-collapse: collapse;" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
              <tr style="border-collapse: collapse;background: url('http://{{ domain }}/static/img/mailings_2-10.jpg') no-repeat top/96% auto;/* background-size: 100% 100%; */">
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                    <td align="center" style="padding-top: 60px;">
                    <img src="https://glup.com.pe/webgl/email/logomail.png" style="height: 106px;">
                    </td>
                    </tr>
                    <tr>
                      <td style="padding: 47px 18px 66px 18px;width: 630px;color: #FFFFFF;font-family: Arial, sans-serif;font-size: 26px;/* font-family: Montserrat; */" align="center">
                         <h1 style="color:#FFF;font-family: Arial,sans-serif;font-weight: normal;font-size: 26px">DALE UN VISTAZO</h1>
                          <p style="color: #FFF;font-family: Arial,sans-serif;font-size: 11px">
                            <strong>{{ user.first_name }}</strong> te ha invitado a unirte a GLUP.<br>
                            Puedes registrarte en el siguente enlace: </p>

                          <a href="http://glupnew.kodevianstudio.com/register/web/" style="
                            border: 1px solid white;
                            height: 40px;
                            padding: 8px;
                            font-size: 20px;
                            color: white;text-decoration: none;
                        " target="_blank">REGISTRARTE</a>
                      </td>
                    </tr>
                    <tr style="">
                      <td style="">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:black;">
                          <tbody>
                            <tr>
                              <td style="color: #FFFFFF;/* font-family: Arial, sans-serif; */font-size: 10px;padding: 0px;" align="center">

                                <h1 style="
    font-weight: 100;
    margin-bottom: 4px;
    font-family: Arial;
    color: white;
    font-size: 19px;
">Únete a glup <img src="https://glup.com.pe/webgl/email/icon.png" style="margin-left: 7px;"></h1>
<h3 style="
    font-weight: 100;
    padding-top: 0px;
    margin-top: 0px;font-family: Arial;color: white;
">Descubre tendencias, impón tu estilo</h3>
<a href="www.glup.com.pe" style="
    font-weight: 100;
    padding-top: 18px;
    margin-top: 10px;
    /* margin-bottom: 13px; */
    font-family: Arial;
    text-decoration: none;
    color:white;
    font-size: 13px;
" target="_blank">www.glup.com.pe</a>
<h3 style="
    font-weight: 100;
    padding-top: 0px;
    margin-top: 4px;
    font-family: Arial;
    margin-bottom: 0px;
    color: white;
">Cualquier duda o consulta, contáctanos a <a href="#" style="
    font-weight: 100;
    padding-top: 18px;
    margin-top: 10px;font-family: Arial;text-decoration: none; color:white;
">producto@glup.com.pe</a></h3><h3 style="
    font-weight: 100;
    padding-top: 0px;color: white;
    margin-top: 0px;font-family: Arial;text-decoration: none; color:white;
">RPC: 997510699 - 961817084</h3>
                      </td>
                    </tr>

                    <tr>
                      <td style="color: #FFFFFF;/* font-family: Arial, sans-serif; */font-size: 10px;padding: 20px 22px;font-family: Arial;opacity: 0.8;" align="center">
                        La información transmitida está dirigida sólo a la persona o entidad a la que fuese enviada y puede contener material confidencial y/o privilegiada. Cualqueir revisión, retransmisión, difusión o toma de cualquier sobre esta información por personas o entidades distintas del destina-
                      tario está prohibida, y cualquier responsabilidad que surja del mismo está negado. Si ah recibido este mensaje por error. por favor póngase
                      en contacto con el remitente y elimine el material de cualqueir ordenador
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>



            </tbody>
          </table>
        </td>
        </tr>
      </tbody>
    </table>


  </td></tr></tbody></table></body></html>