{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor-recovery/material.min.css">
    <script src="{{ STATIC_URL }}vendor-recovery/material.min.js"></script>
    <style type="text/css">
        @font-face {
            font-family: Montserrat-Light;
            src: url('{{ STATIC_URL }}vendor-recovery/fonts/Montserrat-Light.otf')
        }

        @font-face {
            font-family: Montserrat-UltraLight;
            src: url('{{ STATIC_URL }}vendor-recovery/fonts/Montserrat-UltraLight.otf')
        }

        header {
            background-color: black;
            height: 12vh;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        .logo {
            height: 80%;
        }

        .description * {
            color: black;
        }

        .description {
            text-align: center;
        }

        .form_action {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: black;
            font-weight: normal;
            margin: auto;
            width: 367px;
            height: 100%;
        }

        .class_form {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: black;
            font-weight: normal;
            margin: auto;
            width: 367px;
            /* height: 100%; */
            min-height: 367px;
            display: flex;
        }

        .title_description {

            font-family: Montserrat-Light;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: content-box;
            color: white;
            font-weight: 800;
            font-family: Montserrat-UltraLight;
        }

        main {
            display: flex;
            margin: 46px;
            flex-direction: column;
            justify-content: space-around;
            height: 64vh;
            margin-top: 90px;
        }

        button {
            background-color: #04D8C0;
        }

        #first_name, #last_name {
            width: 48%;
        }

        @media screen and (max-width: 550px) {
            header {
                justify-content: center;
            }

            .names_user {
                display: block !important;
            }

            #first_name, #last_name {
                width: 100% !important;
            }

            main {
                height: 55%;
            }

            .form_action {
                width: 100% !important;
            }
        }

        .names_user {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .input_form {
            width: 100%;
        }

        .gender * {
            color: #9a9494;
            cursor: pointer;
            flex: 1;
            text-align: center;
        }

        .gender {
            height: 21px;
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .gender_select {
            font-weight: bold;
            color: black;
        }

        label.gender__woman {
            border-left: 1px solid #c7b5b5;
        }

        .separator {
            height: 20px;
            width: 100%;
            display: flex;
            margin-top: 17px;
            margin-bottom: 17px;
        }

        .separator__detail {
            border-bottom: 1px solid #c7b5b5;
            height: 100%;
            flex: 0.45;
        }

        .separator * {
            color: #c7b5b5;
        }
    </style>
</head>
<body>
<header>
    <img class="logo" src="{{ STATIC_URL }}img/logo_glup-11.svg">
</header>
<main>
    <section class="description">
    </section>
    <section class="form_action">
        <button style="width:91%;background-color: #3897F0;"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            REGISTRATE CON FACEBOOK
        </button>
        <div class="separator">
            <div class="separator__detail"></div>
            <div style="flex: 0.1;color: black;text-align: center;padding-top: 10px;">o</div>
            <div class="separator__detail"></div>
        </div>
        <form class="class_form" action="" method="post">{% csrf_token %}
            <div class="names_user">
                <div id="first_name" class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" style="color: black" type="text" id="user_first_name"
                           name="first_name">
                    <label class="mdl-textfield__label" for="user_first_name">Nombres</label>
                </div>
                <div id="last_name" class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" style="color: black" type="text" id="user_last_name"
                           name="last_name">
                    <label class="mdl-textfield__label" for="user_last_name">Apellidos</label>
                </div>
            </div>
            <div class="input_form mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" style="color: black" type="email" id="user_email" name="email">
                <label class="mdl-textfield__label" for="user_email">Correo</label>

            </div>
            <div class="input_form mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" style="color: black" type="password" id="user_password"
                       name="password">
                <label class="mdl-textfield__label" for="user_password">Contraseña</label>
            </div>
            <div class="gender">
                <label class="gender__man">HOMBRE</label>
                <label class="gender__woman">MUJER</label>
            </div>
            <button style="width:65%;margin-top:18px;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                REGISTRARME
            </button>
        </form>
    </section>
</main>

<script type="text/javascript">
    label_gender = document.querySelectorAll(".gender label");
    label_gender.forEach(function (value) {
        console.log(value);
        value.addEventListener("click", function () {
            label_g = document.querySelectorAll(".gender label");
            label_g.forEach(function (val) {
                val.classList.remove("gender_select")
            })
            value.classList.toggle("gender_select")
        })
    });


    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '{your-app-id}',
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
        });
    }

</script>
</body>
</html>