<nav class="navbar navbar-default">
    <div class="container">

        <a class="navbar-brand" href="{% url 'account:home' %}"><img src="{{ STATIC_URL }}img/logo-patitas-nuevo.png"
                                                                      alt=""></a>

        <div class="menu">
            <div class="social">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/codigopatitas/">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>

                        <i class="fa fa-phone"></i> <span># 994569343</span>

                    </li>
                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bar-header" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="bar-header">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'account:home' %}">Home</a></li>
                    <li><a href="{% url 'account:obtain_code' %}">Obtener Codigo Patitas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'pets:comunity' %}"><i class="fa fa-home"></i> Comunidad </a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"> <i
                                    class="fa fa-user"></i> {{ user.first_name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account:profile' %}"><i class="fa fa-user"> </i> Perfil </a></li>
                                <li><a href="#" data-toggle="modal" data-target="#pets"> <i class="fa fa-paw"></i> Mis
                                    mejores amigos</a></li>
                                {% if user.get_user_face == False %}
                                    <li>
                                        <a href="{% url 'account:password_change' %}"> <i class="fa fa-key"></i> cambia
                                            tu pass</a>
                                    </li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"> </i> Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'account:login' %}" class="btn btn-default btn-login">Iniciar Sesión</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade modal-site" id="pets" tabindex="-1" role="dialog" aria-labelledby="modalPets">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" data-dismiss="modal" aria-label="Close" class="close close-modal">x</a>

            <div class="modal-header">
                <a href="{% url 'pets:register-pet' %}" class="add-pet">
                    <div class="col-xs-12">
                        <div class="btn-plus">
                            <i class="fa fa-plus"></i>
                        </div>
                        <p class="text">Adicionar Amigo Fiel</p>
                    </div>
                </a>
            </div>
            <div class="modal-body">
                {% if user.pets.all|length <= 0 %}
                    <div class="no-pets">
                        <p>
                            <i class="fa fa-paw"></i> Usted aún no tiene mascotas creadas
                        </p>

                        <p>
                            <a href="{% url 'pets:register-pet' %}" class="link">Crear una mascota</a>
                        </p>
                    </div>
                {% endif %}

                {% if user.pets.all|length > 0 %}
                    <div class="list-pets col-xs-12">
                        {% for pet in user.pets.all %}

                            <div class="col-xs-12 pet" id="modalpet{{ pet.id }}">
                                <img src="{{ pet.photo.small.url }}" alt="pet">

                                <div class="pet-data">
                                    <p>
                                        Nombre: {{ pet.name }}
                                    </p>

                                    <p>
                                        Raza: {{ pet.breed }}
                                    </p>

                                    <ul class="list-inline">
                                        <li>
                                            <a href="{% url 'pets:profile-private-pet' slug=pet.slug %}"
                                               class="btn btn-site">
                                                Perfil </a>
                                        </li>
                                        <li>
                                            <button type="button" onclick="delete_pet('{{ pet.id }}')"
                                                    class="btn btn-site">
                                                Eliminar
                                            </button>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                            <div class=" col-xs-12 pet delete-pet-section" id="delete-pet-section{{ pet.id }}"
                                 style="display: none;">
                                <p class="text-center">Esta Seguro de eliminar a {{ pet.name }} de sus mascotas</p>

                                <p class="text-center">
                                <ul class="list-inline">
                                    <li>
                                        <button onclick="show_pet('{{ pet.id }}')" class="btn btn-site"> Cancelar
                                        </button>
                                    </li>
                                    <li>
                                        <form method="POST" action="{% url 'pets:delete-pet' pet.id %}">
                                            {% csrf_token %}<input type="submit" value="eliminar"
                                                                   class="btn btn-site btn-danger"/>
                                        </form>
                                    </li>
                                </ul>
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>